.chgpassword{
    margin-top: 20vh;
    text-align: center;

}
.chgpassword input{
    width: 25%;
    background-color: #f1e1fc;
    border-radius: 3px;
   outline: 1px #38015c;
    
}
.profile {
    font-size: 10vh;
}
.chgpassword button{
    background-color: #38015c;
    color:white;
    cursor: pointer;
    border-radius: 3px;
}